@font-face {
    font-family: "Montserrat Bold";
    font-style: normal;
    font-weight: bold;
    src: url("./assets/fonts/Montserrat-Bold.ttf") format("truetype");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Montserrat light";
    font-style: normal;
    font-weight: 300;
    src: url("./assets/fonts/Montserrat-Light.ttf") format("truetype");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Montserrat regular";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: "Montserrat medium";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/Montserrat-Medium.ttf") format("truetype");
    font-display: swap;
  }
  
  html {
    height: 100%;
  }
  
  * {
    font-family: "Montserrat regular", sans-serif;
  }
  